body{
    background-color: pink;
    background-image: url("fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h1{
    color: deeppink;
    font-family: 'Great Vibes', cursive;
    font-style: italic;
    font-size: 60px;
    text-align: center;
}


hr{
    width: 130px;
    height: 2px;
    background-color: deeppink;
    border: none;
    margin: 10px auto 0;
}


h2{
    color: deeppink;
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 30px;
    margin-top: 10px;
}


    /* bloco do produto */
.produto{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px auto;
    width: fit-content;
    margin-left: 100px;
}


.lingeries1{
    width: 150px;
    height: auto;
    border-radius: 150px;
    display: block;
}


.info{
    display: flex;
    flex-direction: column;
}


.lig-desejo{
    color: deeppink;
    font-family: 'Great Vibes';
    font-size: 25px;
    font-style: italic;
    margin: 0;
}

.babydoll-rose{
    color: deeppink;
    font-family: 'Great Vibes';
    font-size: 25px;
    font-style: italic;
    margin: 0;
}


.liganete{
    color: deeppink;
    font-family: 'Great Vibes';
    font-size: 25px;
    font-style: italic;
    margin: 0;
}

.produto2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

h3{
    margin-left: 600px;
    margin-top: -980px;
}

.comp{
    margin-top: 100px;
    margin-left: -130px;
    color: deeppink;
    font-family: "Great Vibes";
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
}